<!DOCTYPE html>
    <html>
		<body>
      <form action="/signup" method="post">
          <input name="name" />
          <input name="surnames" />
          <input name="birthday" />
          <input name="website" />
          <input name="number_of_dogs" />
          <input name="first_programming_experience" />
          <input type="submit" />
        </form>
        <a href='/signup'>Check who subscriped!</a>
 		</body>
    </html>