

<!DOCTYPE html>
    <html>
		<body>
		<h1>ONE MORE TO DO LIST</h1>
      <form action="/list" method="post">
          <input name="ticket" /> 
        </form>
        <br>
        <a href='/list'>Check the list!</a>
 		</body>
    </html>