

<!DOCTYPE html>
    <html>
		<body>
        <title>This is a Calculator</title>

		<p><b>Choose between + | - | x | % </b></p>

		<form action="/add" method="post">
   	 	<h2>Add</h2>
   		<input name="sum1" />
     	+
     	<input name="sum2" />
     	<input type="submit" />
   		</form>

    <form action="/sub" method="post">
      <h2>Substraction</h2>
      <input name="sub1" />
      -
      <input name="sub2" />
      <input type="submit" />
      </form>

    <form action="/mult" method="post">
      <h2>Multiplication</h2>
      <input name="mult1" />
      *
      <input name="mult2" />
      <input type="submit" />
      </form>

   <form action="/divis" method="post">
      <h2>Division</h2>
      <input name="divis1" />
      /
      <input name="divis2" />
      <input type="submit" />
      </form>

      <p>And I can count until 200. Check <a href="/count">this.</p>


 		</body>
    </html>