
<html>
  <body>
  	<p>Fill in the song you like:</p>

   <form action="/song" method="post">
   		<input name="artist" />
     	+
     	<input name="song" />
     	<input type="submit" />
    </form>

  </body>
</html>
