
<!DOCTYPE html>
    <html>
		<body>
			<h1>! GUESS THE MOVIE !</h1>
			<h2><b>Type a word launch the game <b><br>| ex. love ? war ? watermelon? |</h2>
			<form action="/start" method="post">
            <input name="universe" /> 
            </form>

 		</body>
    </html>